$bg:  #a7b0b2;
$fg:  #555;
$highlight: orange !default;

.table {
  border-spacing:0;
  border-style: none;
  width: 100%;

  td, th {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    font-size: 90%;
  }

  th {
    font-size: 100%;
    border-bottom: 1px solid #CCC;
  }

  td {
    border-top: 1px solid #CCC;
  }

  .active-column {
    background: rgb(175, 175, 175);
  }

  .active {
    background-color: $highlight;
    color: #FFF;
  }

  .row-select {
    width: 5%;
  }
}

.table-bordered {
  border-collapse: separate;
  border: 1px solid #CCC;

  td, th {
    border-left: 1px solid #CCC;
  }
}

.table-striped {
  tr:nth-child(odd) td {
    background-color: rgba(194, 200, 202, 0.15);
  }
}

.table-selection-row {
  background: rgb(255, 207, 105);
  text-align: center;
}

.table-toolbar {
  background: rgb(238, 238, 238);
  overflow: auto;
  padding: 10px;
  border: 1px solid #CCC;
}
