<thead>
  <tr>
    <th ng-show="rowSelect" class="row-select">
      <input class="selectAll" 
             type="checkbox" 
             name="selectAll" 
             ng-model="table.allSelected" 
             ng-change="table.selectAll()">
    </th>
    <th ng-click="table.sort(header)" 
        ng-show="header.show" 
        ng-repeat="header in table.data.columns" 
        ng-class="{ 'active-column' : header.active }">

        {{ header.display }}
    </th>
  </tr>
</thead>
<tbody infinite-scroll="table.nextPage()" 
       infinite-scroll-disable="table.loadingMore" 
       infinite-scroll-distance="table.scrollDistance">
  <tr ng-class="{ 'active-row' : row.selected }" 
      ng-repeat="row in table.data.rows" 
      ng-show="showRow(row)">
    <td ng-show="rowSelect" class="row-select">
      <input ng-model="row.selected" 
             type="checkbox" name="{{ row.id }}" 
             value="{{ row.id }}" 
             ng-change="adjustNumSelected(row.selected)">
    </td>
    <td ng-show="showCell(cell)" 
        ng-repeat="cell in row.cells"
        ng-bind-html-unsafe="cell.display">
      
    </td>
  </tr>
</tbody>
