@import "compass";

* {
  @include box-sizing(border-box);
}

@import "alchemy/normalize";
@import "alchemy/alchemy";
@import "alchemy-forms/forms";
@import "alchemy-buttons/buttons";
@import "main";

.fl { float: left; }
.fr { float: right; }

body {
  font-family: Overpass, sans-serif;
}

a, a:hover, a:link, a:visited {
  color: $link_color;
}
